@import "../varibales";
@import "../app.scss";

.landing-page {
  display: flex;
  @media (max-width: 991.98px) {
    flex-direction: column;
  }
  .part-img {
    flex-basis: 40%;
    img {
      margin-top: 120px;
      width: 100%;
      @media (max-width: 991.98px) {
        margin-top: 30px;
      }
    }
  }
  .part-text {
    flex-basis: 60%;
    padding: 20px 30px 20px 30px;
    font-family: $droidFont;
    .headertext,
    .paratext {
      color: $textColor;
      text-align: justify;
      direction: rtl;
    }
    .headertext {
      font-size: 34px;
      margin-top: 40px;
      margin-bottom: 30px;
      @media (max-width: 767.98px) {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 10px;
      }
    }
    .paratext {
      font-size: 22px;
      @media (max-width: 767.98px) {
        font-size: 16px;
      }
      span {
        font-family: $tahoma;
        color: $firstColor;
      }
    }
  }
}

.courses-section {
  margin-top: 30px;
  margin-bottom: 40px;
  h2 {
    font-family: $droidFont;
    font-size: 30px;
    color: $textColor;
    border-bottom: 6px solid $yellowColor;
    display: block;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 40%;
    padding: 10px 10px;
    @media (min-width: 768px) and (max-width: 991.98px) {
      width: 55%;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      width: 60%;
      font-size: 24px;
    }
    @media (max-width: 575.98px) {
      width: 65%;
      font-size: 18px;
    }
  }
  .courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    .course-box {
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      margin: 0px auto;
      img {
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

.contact-section {
  background-color: $bgFirst;
  margin-bottom: 30px;
  border-top: 10px solid $firstColor;
  border-bottom: 10px solid $firstColor;
  h2 {
    font-family: $droidFont;
    font-size: 36px;
    color: $whiteColor;
    padding: 30px 0px;
    direction: rtl;
    text-align: center;
    @media (max-width: 669px) {
      font-size: 20px;
      padding: 20px 0px;
    }
  }
  h3 {
    font-family: $tahoma;
    font-size: 26px;
    color: $yellowColor;
    text-align: center;
    direction: rtl;
    padding-bottom: 20px;
    @media (max-width: 669px) {
      font-size: 15px;
    }
  }
}

.promote-section {
  margin-top: 30px;
  h2 {
    font-size: 34px;
    font-family: $droidFont;
    direction: rtl;
    padding-right: 30px;
    color: $textColor;
    @media (max-width: 991.98px) {
      font-size: 26px;
      text-align: center;
      padding-right: 0px;
    }
  }
  .container-advices {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    @media (max-width: 575.98px) {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    .advice {
      font-family: $droidFont;
      direction: rtl;
      display: flex;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;

      .icon-part {
        padding: 20px;
        margin-left: 10px;
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 575.98px) {
          display: none;
        }

        i {
          display: inline-block;
          font-size: 60px;
          color: $firstColor;
        }
      }
      .info-part {
        .title-info {
          font-size: 20px;
          color: $blueColor;
          @media (max-width: 575.98px) {
            font-size: 18px;
          }
        }
        .parainfo {
          font-size: 16px;
          text-align: justify;
          color: $textColor;
          @media (max-width: 575.98px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: $bgFirst;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  @media (max-width: 767.98px) {
    flex-direction: column-reverse;
  }
  .social-media {
    @media (max-width: 767.98px) {
      margin-top: 10px;
    }
    a {
      display: inline-block;
      color: $whiteColor;
      margin-right: 10px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        color: $firstColor;
      }
      i {
        font-size: 36px;
      }
    }
  }
  .copyright {
    font-family: $droidFont;
    font-size: 18px;
    color: $whiteColor;
    @media (max-width: 575.98px) {
      font-size: 14px;
    }
    span {
      font-family: $tahoma;
      color: $firstColor;
      font-weight: bold;
    }
  }
}
