// color
$firstColor: #ff0075;
$whiteColor: #ffffff;
$textColor: #333333;
$secondTextColor: #8d8d8d;
$yellowColor: #ffc807;
$blueColor: #00c1d6;
$blueSecondColor: #048c9b;
$blueThirdColor: #014e57;
$redColor: rgb(170, 0, 0);

// background-color:
$bgFirst: #212121;
$bgSecond: #242a2f;
$bgthird: #eaf0f2;

// font-family:
$droidFont: "Droid Arabic Kufi", serif;
$tahoma: "Tahoma", sans-serif;
